@import 'variables';

#search-content
{
/*
Styling options for the home page.
*/
    height: 100%;
    background-color: $grey;
    margin: auto;
    text-align: center;
    padding: 10px;
        
    #search
    {
        padding: 10px;
        background-color: rgba(255,255,250,0.3);
        margin: auto;
        width: $boxwidth;

        #options
        {
            margin: 0 auto;
            text-align: center;

            label
            {
                font-weight: bold;
            }

            input[type=checkbox]
            {
                width: 10px;
            }

            select
            {
                color: $black;
                padding: 14px 20px;
                margin: 8px 0;
                border: none;
                border-radius: 0px;
                cursor: pointer;
                font-weight: bold;
                outline: none;
            }
        }

/*
See registration-content input comments for information
about this section. They are the same.
*/
        input[type=submit]
        {
            background-color: $orange;
            color: $black;
            padding: 14px 20px;
            margin: auto;
            border: none;
            border-radius: 0px;
            cursor: pointer;
            font-weight: bold;
            width: 200px;
        }

        input[type=submit]:hover
        {
            background-color: $darkorange;
            border: none;
        }

        fieldset
        {
            text-align: center;
        }
    }
}

@media (max-width: 970px) {
    #search-content
    {
        $boxwidth: 400px;
        #search
        {
            width: $boxwidth;
        }
    }
}

@media(max-width: 550px) {
    #search-content
    {
        $boxwidth: 300px;
        #search
        {
            width: $boxwidth;
        }
    }
}