@import 'variables';

#registration-content
{
/*
The registration page contains a form with various
HTML5 input types. It follows the same formatting
as the forms in the search, signing and submission
pages.
*/
    height: 100%;
    background-color: $grey;
    margin: auto;
    text-align: center;
    padding: 10px;

    #sign-up
    {
/*
The sign-up div is gives the form a lighter outline
than the rest of the page (see background-color)
*/
        background-color: rgba(255,255,250,0.3);
        margin: 0 auto;
        text-align: center;
        width: $boxwidth;
        padding: 10px;
    }
/*
The submit input type is orange and is formatted a
little differently from the other input fields,
mainly because it is not a text input area but is a
button.
*/
    input[type=submit]
        {
            background-color: $orange;
            color: $black;
            padding: 14px 20px;
            margin: auto;
            border: none;
            border-radius: 0px;
            cursor: pointer;
            font-weight: bold;
            width: 200px;
        }
/*
The submit button turns dark orange on hover in
order to give the user feedback and to show
that it is a clickable link.
*/
    input[type=submit]:hover
    {
        background-color: $darkorange;
        border: none;
    }
/*
The -webkit-datetime-edit-text is used here to
remove the up and down arrows inside the date
selector field.
*/    
    input[type=date]::-webkit-inner-spin-button
    {
        display: none;
    }
}

@media (max-width: 970px) {
    #registration-content
    {
        $boxwidth: 400px;
        #sign-up
        {
            width: $boxwidth;
        }
    }
}

@media(max-width: 550px) {
    #registration-content
    {
        $boxwidth: 300px;
        #sign-up
        {
            width: $boxwidth;
        }
    }
}