@import 'variables';

#results-content
{
/*
The height of the results container is always 960px
but in case there are many results, the contents
just scroll so that they fit.
*/
    height: 100%;
    background-color: $grey;
    margin: auto;
    text-align: center;
    display: flex;
    -webkit-flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -webkit-justify-content: center;
    -webkit-align-items: stretch;

/*
The search bar is also available in the results page
in case the search needs to be updated. It uses the
same layout as the search page (index.html)
*/
/*
    #mini-search
    {
        padding-bottom: 20px;

        #search
        {
            padding: 10px;
            background-color: rgba(255,255,250,0.3);
            margin: 0 auto;
            text-align: left;

            label
            {
                font-weight: bold;
            }

            input[type=checkbox]
            {
                width: 10px;
            }
            
            input #near
            {
                float: right;
            }

            input[type=submit]
            {
                background-color: $orange;
                color: $black;
                padding: 14px 20px;
                margin: 8px 0;
                border: none;
                border-radius: 0px;
                cursor: pointer;
                font-weight: bold;
                width: 200px;
            }

            input[type=submit]:hover
            {
                background-color: $darkorange;
                border: none;
            }
        }
    }
*/
/*
The search results are presented as a list. An
ordered list HTML element is used to represent it.
The results page is divided into two columns (list
and map).
*/

/*
The list div is on the left side of the page.
*/
    #list
    {
        order: 1;
        padding: 10px;
        width: 45%;
        height: mheight;
        overflow: scroll;
        float: left;
        text-align: left;
        margin-bottom: 20px;

        ol
        {
            margin: auto;
/*
The list elements have been styled to contain an
image, stars and comments. The following lines
all serve to arrange the various contained element
types.
*/
            li
            {
                img
                {
                    float:left;
                    width: 90px;
                    height: 90px;
                    margin-right: 30px;
                }

                a
                {
                    display: block;
                    color: $black;
                    text-decoration: underline;
                    font-weight: bold;
                }
                
                a:hover
                {
                    position: relative;
                    font-style: italic;
                }

                .left
                {
                    float: left;
                    width: 30%;

                    .review
                    {
                        .stars
                        {
                            float: left;
                        }


                        .numberofreviews
                        {
                            float: left;
                            
                            p
                            {
                                font-size: 14px;
                            }
                        }
                    }

                    ul
                    {
                        font-size: 10px;
                        display: inline;
                        list-style: none;
                        padding: 0;
                        list-style-type: none;

                        li
                        {
                            display: inline;
                        }

                        li:after
                        {
                            content: ",";
                        }

                        li:last-child:after
                        {
                            content: "";
                        }
                    }

                    .types
                    {
                    }
                }

                .right
                {
                    position: relative;
                    float: right;
                    width: 40%;

                    p
                    {
                        font-size: 14px;
                    }

                    .address
                    {

                    }
                }

                .bottom
                {
                    clear: both;
                    width: 100%;

                    p
                    {
                        font-size: 12px;
                    }
                }
            }
        }
    }

/*
The map div contains the Google map. It is on the
right side of the page
*/
    #map
    {
        order: 2;
        padding: 10px;
        width: 45%;
        margin: auto;
        overflow: hidden;
        height: $mheight / 1.5;  

        #google-map
        {
            height:400px;
        }
    }
}