@import 'variables';

#submission-content
{
    height: 100%;
    background-color: $grey;
    margin: auto;
    text-align: center;

    #newobject
    {
        padding: 10px;
        background-color: rgba(255,255,250,0.3);
        margin: auto;
        text-align: center;
        width: $boxwidth;

        input#image
        {
            cursor: pointer;
            text-align: center;
            width: 200px;
            maxwidth: 200px;
        }

        input[type=checkbox]
        {
            width: 10px;
        }
/*
The submit input type is orange and is formatted a
little differently from the other input fields,
mainly because it is not a text input area but is a
button.
*/
        input[type=submit]
        {
            background-color: $orange;
            color: $black;
            padding: 14px 20px;
            margin: auto;
            border: none;
            border-radius: 0px;
            cursor: pointer;
            font-weight: bold;
            width: 200px;
        }
/*
The submit button turns dark orange on hover in
order to give the user feedback and to show
that it is a clickable link.
*/
        input[type=submit]:hover
        {
            background-color: $darkorange;
            border: none;
        }
    }
}

@media (max-width: 970px) {
    #submission-content
    {
        $boxwidth: 400px;
        #newobject
        {
            width: $boxwidth;
        }
    }
}

@media(max-width: 550px) {
    #submission-content
    {
        $boxwidth: 300px;
        #newobject
        {
            width: $boxwidth;
        }
    }
}