@import 'variables';

#submission-content
{
    height: 100%;
    background-color: $grey;
    position: relative;
    margin: 0 auto;
    text-align: center;
    padding: 20px;

    #newobject
    {
        padding: 10px;
        background-color: rgba(255,255,250,0.3);
        margin: 0 auto;
        text-align: right;

        input#image
        {
            margin: 0;
            padding: 0;
            cursor: pointer;
        }

        label
        {
            text-align: left;
            font-weight: bold;
        }

        input[type=checkbox]
        {
            width: 10px;
        }
/*
The submit input type is orange and is formatted a
little differently from the other input fields,
mainly because it is not a text input area but is a
button.
*/
        input[type=submit]
        {
            background-color: $orange;
            color: $black;
            padding: 14px 20px;
            margin: auto;
            border: none;
            border-radius: 0px;
            cursor: pointer;
            font-weight: bold;
            width: 200px;
        }
/*
The submit button turns dark orange on hover in
order to give the user feedback and to show
that it is a clickable link.
*/
        input[type=submit]:hover
        {
            background-color: $darkorange;
            border: none;
        }

        fieldset
        {
            text-align: center;
        }
    }
}