$grey: rgba(223, 217, 226, 0.8);
$orange: rgba(230, 190, 174, 0.8);
$black: rgba(0, 1, 0, 1);
$pink: rgba(199, 153, 166, 0.7);
$darkorange: rgba(176, 113, 86, 0.9);

$menubuttonwidth: 100px;
$headerheight: 180px;

$boxwidth: 300px;

$mheight: 400px;
$mwidth: 400px;