/* RGB */
$grey: rgba(223, 217, 226, 1);
$orange: rgba(230, 190, 174, 1);
$black: rgba(0, 1, 0, 1);
$pink: rgba(199, 153, 166, 1);
$darkorange: rgba(176, 113, 86, 1);

$headerheight: 150px;

/* Overall styling - tweak attributes for built-in mark-up tags here */
body
{
    margin: 50px 100px 50px 100px;
    background-color: antiquewhite;
    opacity: 0.8;
    font-family: trebuchet ms;
}

h1 h2
{
    color: $black;
}

/* Navigation bar attributes */
ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: $grey;
    
    li
    {
        float: left;
        a
        {
            display: block;
            color: $black;
            text-align: center;
            padding: 10px 20px;
            text-decoration: none;
        }
        
        a:hover
        {
            background-color: $darkorange;
        }

        .active
        {
            background-color: $orange;
        }
    }
}

/* Div styling common to all pages */
.header-container
{
    background-color: $orange;
    height: $headerheight;
    display: -webkit-flex;
    display: flex;
}

.header-container>.nav
{
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}

/* TODO Link should be un-clickable so page doesnt reload*/
.header-container>.nav>.active
{
}

.content-container
{
    height: 70vh;
    background-color: $pink;
}

.footer-container
{
    /*background-color: $orange;*/
    height: 50px;
}

/* Should open a new tab */
.footer-container>.linkedin
{
    text-decoration:none;
}

.footer-container>.linkedin>#linkedinimg
{
    width: 80;
    height: 15;
    alt: "View Micaela Estabillo's LinkedIn profile";
    vertical-align: middle;
    border: 0;
}

/* Styling for page-specific div elements */